@import "../../../sass/mixins/all";

* {
    box-sizing: border-box;
}

.wp-block-anitian-partner-level {
    padding: 60px 0;
    .container {
        width: 100%;
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
        padding: 0 15px;
        .partner-level__wrap {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 40px;
            align-items: center;
            .partner-level__left{
                width: 50%;
                .partner-level__heading {
                    margin: 0 auto 20px;
                    line-height: 1.4em;
                    font-weight: 600;
                    font-size: 40px;
                    &::before{
                        content: "";
                        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMTQuMzggMTE0LjM5Ij48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6IzE0NzFiOTt9LmNscy0ye2ZpbGw6I2YwNTMyYzt9PC9zdHlsZT48L2RlZnM+PGcgaWQ9IkxheWVyXzIiIGRhdGEtbmFtZT0iTGF5ZXIgMiI+PGcgaWQ9IkxheWVyXzEtMiIgZGF0YS1uYW1lPSJMYXllciAxIj48cmVjdCBjbGFzcz0iY2xzLTEiIHg9IjU2Ljk2IiB5PSI1Ny4xNyIgd2lkdGg9IjU3LjQxIiBoZWlnaHQ9IjU3LjIyIi8+PHJlY3QgY2xhc3M9ImNscy0yIiB3aWR0aD0iNTYuOTYiIGhlaWdodD0iNTcuMDgiLz48L2c+PC9nPjwvc3ZnPg==);
                        height: 28px;
                        width: 28px;
                        margin-right: 10px;
                        display: inline-block;
                    }
                }
                .partner-level__main-desc {
                    font-size: 18px;
                    margin-bottom: 1em;
                    font-family: "Poppins",sans-serif;
                    line-height: 1.5;
                    font-weight: 500;
                }
                .partner-level__items {
                    margin-top: 40px;
                    .partner-level__item:not(:last-child) {
                        margin: 0 0 30px;
                    }
                    .partner-level__item-heading-icon {
                        margin-bottom: 10px;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        .partner-level__item_title {
                            font-size: 18px;
                            font-weight: 600;
                            margin: 0;
                            color: #333;
                        }
                        .partner-level__item_desc {
                            font-size: 14px;
                            color: #666;
                            margin: 0;
                        }
                        .partner-level__item-icon {
                            width: 18px;
                            height: 18px;
                            margin-right: 10px;
                            background-size: cover;
                            background-repeat: no-repeat;
                        }
                        .icon-orange {
                            background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDExNC4xNSAxMTQuMzkiPjxkZWZzPjxzdHlsZT4uZntmaWxsOiNmMDUzMmM7fTwvc3R5bGU+PC9kZWZzPjxnIGlkPSJhIi8+PGcgaWQ9ImIiPjxnIGlkPSJjIj48ZyBpZD0iZCI+PGcgaWQ9ImUiPjxyZWN0IGNsYXNzPSJmIiB3aWR0aD0iMTE0LjE1IiBoZWlnaHQ9IjExNC4zOSIvPjwvZz48L2c+PC9nPjwvZz48L3N2Zz4=);
                        }
                        .icon-blue {
                            background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDExNC43NyAxMTQuMzkiPjxkZWZzPjxzdHlsZT4uZntmaWxsOiMxNDcxYjk7fTwvc3R5bGU+PC9kZWZzPjxnIGlkPSJhIi8+PGcgaWQ9ImIiPjxnIGlkPSJjIj48ZyBpZD0iZCI+PGcgaWQ9ImUiPjxyZWN0IGNsYXNzPSJmIiB3aWR0aD0iMTE0Ljc3IiBoZWlnaHQ9IjExNC4zOSIvPjwvZz48L2c+PC9nPjwvZz48L3N2Zz4=);
                        }
                        .icon-orange-and-blue {
                            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMTQuMzggMTE0LjM5Ij48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6IzE0NzFiOTt9LmNscy0ye2ZpbGw6I2YwNTMyYzt9PC9zdHlsZT48L2RlZnM+PGcgaWQ9IkxheWVyXzIiIGRhdGEtbmFtZT0iTGF5ZXIgMiI+PGcgaWQ9IkxheWVyXzEtMiIgZGF0YS1uYW1lPSJMYXllciAxIj48cmVjdCBjbGFzcz0iY2xzLTEiIHg9IjU2Ljk2IiB5PSI1Ny4xNyIgd2lkdGg9IjU3LjQxIiBoZWlnaHQ9IjU3LjIyIi8+PHJlY3QgY2xhc3M9ImNscy0yIiB3aWR0aD0iNTYuOTYiIGhlaWdodD0iNTcuMDgiLz48L2c+PC9nPjwvc3ZnPg==);
                        }
                    }
                }
            }
            .partner-level__right{
                width: 40%;
                img{
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }

}