@import '../../../sass/mixins/all';

.wp-block-anitian-aws-partners {
    padding: 60px 0;
    .container {
        width: 100%;
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
        padding: 0 15px;
        .aws-partners__bottom {
            gap: 5%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            .aws-partners__left-content {
                width: 47.5%;
                display: flex;
                flex-wrap: wrap;
                gap: 5%;
                div {
                    width: 47%;
                    img{
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
            .aws-partners__right-content {
                width: 47.5%;
                .aws-partners__title {
                    text-align: center;
                    color: #000;
                    margin: 0 0 20px;
                    font-size: 30px;
                    line-height: 1.5em;
                }
                .aws-partners__description {
                    text-align: center;
                    color: #000;
                    margin: 0;
                    font-family: "Poppins",sans-serif;
                    font-size: 18px;
                    line-height: 1.5;
                    font-weight: 500;
                }
                .aws-partners__slider-main[data-slide-dots=true] {
                    margin-bottom: 40px;
                }
                .aws-partners__slider-main {
                    position: relative;
                    margin-top: 30px;
                    .aws-partners__slider-item {
                        margin: 0 12px;
                        cursor: grab;
                        img {
                            width: 100%;
                            max-width: 100%;
                            height: auto;
                        }
                    }
                    .slick-dots {
                        display: flex;
                        justify-content: center;
                        gap: 8px;
                        margin-top: 30px;
                        width: 100%;
                        cursor: pointer;
                        position: absolute;
                        bottom: -35px;
                        list-style: none;
                        li {
                            font-size: 0;
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background: rgba(0,0,0,.2);
                            border: none;
                            button {
                                display: none;
                            }
                        }
                        .slick-active {
                            background: rgba(0,0,0,.75);
                        }
                    }
                }

            }
        }
    }
}