@import '../../../sass/mixins/all';
.wp-block-ana-enterprise-impact{
    margin-bottom: 50px;
.impact-main-container{
        padding: 10px 0px;
        margin: 0 auto;
        max-width: 80%;
    h2{
        font-size: 40px;
        margin-bottom: 30px;
        margin-top: 20px;
    }
    .impact-main-inner{
        padding: 50px 10%;
        .impact-items{
            display: flex;
            gap: 50px;
            margin-bottom: 20px;
            &:last-child{
                margin-bottom: 0;
            }
            .impact-item-img{
                width: 350px;
            }
            .impact-item-text{
                width: calc(100% - 400px);
                p{
                    font-size: 24px;
                    margin-bottom: 10px;
                }
            }
            &.right-thumbnail{
                flex-direction: row-reverse;
            }
        }
    }
}
}