$link-theme-color: #0F8B8D;
$primary-theme-color: #000000;
$secondary-theme-color: #707070;
$gray-theme-color: #eeeeee;
$green-theme-color: #0F8B8D;
$lightgray-theme-color: #F3F7F6;
$white-theme-color: #ffffff;
$color-beaver-dark: #865633;
$color-black: #000000;
$color-bright-gray: #eeeeee;
$color-white: #ffffff;
$color-chinese-silver: #cccccc;
$color-charleston-green: #292929;
$color-beaver: #a28168;
$color-error: #F45151;
$color-red: #950b0b;
$color-granite-gray: #666666;
$color-light-gray: #5b5b5b;

// Font Family
$source-serif-fonts: 'Source Serif Pro', sans-serif;
$aktiv-grotesk-fonts: 'aktiv-grotesk', sans-serif;
$playfair-fonts: 'Playfair Display', sans-serif;
