@import "../../../sass/mixins/all";
.wp-block-anitian-games-champion {
    padding: 100px;
    .games-champion-bgimage{
        background-size: cover;
    }
    .heading-text{
        font-size: 90px;
        line-height: 1.1;
        font-family: monospace;
        font-family: system-ui;
        text-transform: uppercase;
    }
   .description-text{
        font-size: 18px;
        line-height: 1.5;
   }
   .games-champion-button{
        font-size: 18px;
        padding: 12px 30px;
        letter-spacing: 0.7px;
        text-transform: uppercase;
        min-width: 100px;
        text-align: center;
        display: inline-block;
        font-weight: 600;
        border: 2px solid rgba(0, 0, 0, 0);
        cursor: pointer;
        word-break: break-word;
        text-decoration: none;
        position: relative;
        margin: 0;
        line-height: 1.4;
        border-radius: 50px;
        transition: 150ms ease-out;
        font-family: "Poppins", sans-serif;
        margin-top: 60px !important;
        &:hover{
            background: #000000 !important;
            color: #FFF !important;
        }
        a{
            color: inherit;
        }

   }
}
