// page editor
.editor-styles-wrapper {
    padding-left: 30px!important;
	padding-right: 30px!important;
    .wp-block {
		max-width: 100%!important;
	}
    .editor-writing-flow {
		max-width: 100%!important;
	}
}
