@import '../../../sass/mixins/all';

.wp-block-anitian-customer-stories {
    padding: 60px 0;
    background-color: #eef2fa;
    .customer-stories-container {
        width: 100%;
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
        padding: 0 15px;

        .customer-stories-wrap {
            overflow: hidden;
            background-size: cover;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .heading-section {
            width: 40%;
            align-items: center;
            position: relative;
            z-index: 1;

            h2 {
                font: 500 50px/1 "Poppins", sans-serif;
                line-height: 60px;
                margin-bottom: 30px;
            }

            div {
                font: 500 20px/1 "Poppins", sans-serif;
                line-height: 30px;
                margin-bottom: 30px;
            }

        }

        .slider-container {
            width: 55%;
           
            .testimonials-content-section {
                padding: 40px;
                .description {
                    font: 500 22px/1 "Poppins", sans-serif;
                    line-height: 34px;
                    margin: 0 0 40px;
                }
                .testimonials-img-section {
                    width: 100px;
                    height: 100px;
                }
                .testimonials-img-content-wrap {
                    display: flex !important;
                    gap: 25px !important;
                    align-items: center !important;
                }
                .testimonials-title-section{
                    h3{
                        a{
                            color: inherit;
                        }
                    }
                }
            }
        }
        .customer__stories_bottom {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 30px 0 0;
            .customer__Stories_arrow_wrapper:first-child {
                margin-left: auto;
            }
            .customer__Stories_arrow_wrapper {
                display: flex;
                gap: 20px;
                flex-basis: 40%;
                .customer__stories_bottom-arrow-prev {
                    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI1LjQuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA4MC4xOCAxNC4wMSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgODAuMTggMTQuMDE7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojMDAwMDAwO30KPC9zdHlsZT4KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIwLDcuMDEgNy4wMSwxNC4wMSA3LjAxLDcuNSA4MC4xOCw3LjUgODAuMTgsNi41IDcuMDEsNi41IDcuMDEsMCAiLz4KPC9zdmc+Cg==);
                    background-size: 100%;
                    width: 100px;
                    height: 18px;
                    background-repeat: no-repeat;
                    cursor: pointer;
                    transition: all .3s linear;
                }
                .customer__stories_bottom-arrow-next {
                    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI1LjQuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA4MC4xOCAxNC4wMSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgODAuMTggMTQuMDE7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojMDAwMDAwO30KPC9zdHlsZT4KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSI4MC4xOCw3LjAxIDczLjE3LDAgNzMuMTcsNi41MSAwLDYuNTEgMCw3LjUxIDczLjE3LDcuNTEgNzMuMTcsMTQuMDEgIi8+Cjwvc3ZnPgo=);
                    background-size: 100%;
                    width: 100px;
                    height: 18px;
                    background-repeat: no-repeat;
                    transition: all .3s linear;
                    cursor: pointer;
                }
            }
        }
    }

    .customer-stories-buttons {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0 0;
        .customer-stories-link{
            font-weight: 400;
            line-height: 50px;
            text-transform: uppercase;
            letter-spacing: 3px;
            border-bottom: 1px solid #000;
            a{
                color: #000;
                font: inherit;
            }
            a:hover {
                color: #007aff;
                border-bottom-color: #fff;
                text-decoration: none;
            }
        }
    }
}
