.wp-block-storyful-our-story{
    .image-preview {
        video{
            height: 200px;
            width: 200px;
        }
    }
    .add-item-wrap{
        margin-left: 200px;
    }
    .our-story-text-wrapper{
        z-index: 0 !important;
    }
}