@import "../../../sass/mixins/all";
.wp-block-storyful-timeline {
    padding-top: 93px;
    padding-bottom: 144px;
    background-size: 1440px;
    background-repeat: no-repeat;
    background-position: center 100px;
    .container {
        max-width: 1210px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        .wrapper {
            padding-top: 147px;
            padding-bottom: 80px;
        }
        .wrapper__item{
            .wrapper__box-inner {
                display: flex;
                gap: 30px;
                max-width: 650px;
                margin: 0 auto;
                align-items: center;
                img {
                    width: 214px;
                    height: 214px;
                    -o-object-fit: cover;
                    object-fit: cover;
                    border-radius: 100%;
                }
                .timeline-details-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    flex: 1 1 0;
                    .timeline-item-title {
                        font-size: 20px;
                        line-height: 26px;
                        font-family: arial,helvetica,sans-serif;
                        text-transform: uppercase;
                        font-weight: 700;
                        margin: 0;
                    }
                    .timeline-item-subtitle {
                        font-size: 28px;
                        line-height: 36px;
                        font-family: "PlayfairDisplay-Bold";
                        margin: 0;
                    }
                    .timeline-item-desc{
                        line-height: 24px;
                    }
                }
            }
        }
        .year-nav {
            position: relative;
            .timeline-year {
                text-align: center;
                display: flex;
                flex-direction: column;
                gap: 36px;
                font-size: 30px;
                line-height: 39px;
                font-family: arial,helvetica,sans-serif;
                font-weight: 400;
                color: #11152c;
                cursor: pointer;
                margin: 0;
                &::before{
                    content: "";
                    width: 19px;
                    height: 19px;
                    display: block;
                    background-color: #11152c;
                    border-radius: 100%;
                    margin: 0 auto;
                }

            }
        }
        .year-nav__item.slick-current .timeline-year {
            color: #ff4c15 !important;
        }
        .year-nav__item.slick-current .timeline-year{
            &::before{
            background-color: #ff4c15;
            }
        }
    }
}