@font-face {
    font-family: 'OpenSansRegular';
    src: url('../library/fonts/OpenSansRegular.eot');
    src: url('../library/fonts/OpenSansRegular.eot') format('embedded-opentype'),
         url('../library/fonts/OpenSansRegular.woff2') format('woff2'),
         url('../library/fonts/OpenSansRegular.woff') format('woff'),
         url('../library/fonts/OpenSansRegular.ttf') format('truetype'),
         url('../library/fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}